// This is the colours.scss file

$dullCyan: #40BCC3;
$neonCarrot: #FF9D44;
$kilamanjaro: #3D3636;
$quarterSpanishWhite: #EFE6D1;

$lightestGray: #d3d3d3;
$lightGray: #bbb;
$midGray: #888;
$darkGray: #333;

$overlay: rgba(255,255,255,0.7);