// This is the header.scss file
// Header styling.
header {
	height: 500px;
	// background: url('http://subtlepatterns.com/patterns/paper_fibers.png');
  background: url(https://download.unsplash.com/photo-1429041966141-44d228a42775) no-repeat fixed center;
  margin-bottom: -60px;
	.container {
    overflow: hidden;
		display: flex;
		padding: 20px 0;
		justify-content: space-between;
		h1 {
			line-height: 0;
		}
	}
}

div.nav {
  overflow: hidden;
  background: $overlay;
  // padding: 20px;
}

// Timeline list items
ul.menu {
	li {
		display: inline;
		text-transform: uppercase;
	}
}

ul.posts {
	position: relative;
	// width: 100%;
   	margin:0;
   	padding:0;
   	display: flex;
   	flex-direction: column;
   	flex-wrap: wrap;
   	flex: 1 0 auto;
   	// justify-content: space-between;
    li {
    	// background: red;
		  position: relative;
      // margin-bottom: 20px;
    	// width: 80px;
    	line-height: 3;
    	// text-align: center;
    	display: block;
    	margin-left: 20px;
    	a {
    		margin-top: 20px;
       	color:#333;
       	color: black;
    		padding: 0;
       	margin-top: 20px;
        @include transition;
        &:hover {
          color: $dullCyan;
          }
     	}
   }
}

// Psuedo elements for timeline styling
ul.posts::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  // top: -10px;
  left: -8px;
  height: 100%;
  width: 4px;
  border-radius: 10px;
  background: $midGray;
  margin-bottom: 20px;
}

ul.posts a::before {
  // These are the lil circles
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	top: 13px;
	left: -40px;
	border: 4px solid $midGray;
	background: white;
	border-radius: 50%;
	margin: 0 auto;
	// margin: 100px;
}

// Social media icon styling
.socialmedia img {
  opacity: 0.5;
  transition: all 2s;
  &:hover {
    opacity: 0.8;
    @include transition;
  }
}

// Trying to affect the little nodes... nice to have. Doesn't work.
ul.posts a:hover + a::before {
  border: 4px solid $dullCyan;
}