// This is the main-gallery.scss file

.white {
  background: white;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

// positioning for titles over images.

#feature-img-id{
  position: relative;
  // max-width: 100%;
}

h2.entry-title{
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: $overlay;
  padding: 30px;
  font-size: 1.4em;
  margin: 0;
  text-align: center;
  opacity: 0;
  @include transition;
  a {
   color: $kilamanjaro; 
  }
}

h2.entry-title:hover{
  opacity: 1;
}